[Desktop Entry]
Categories=Utility;
Comment=Control panel for Framework laptops
Exec=io.github.singh-gur.fwpanel
Icon=io.github.singh-gur.fwpanel
Name=fwpanel
Terminal=false
Type=Application
